<!DOCTYPE html>
<html>
    <head>
        <title>Form Student</title>
    </head>
    <body>
        {{ form_start(student_form) }}
        {{ form_widget(student_form) }}
        {{ form_end(student_form) }}
    </body>
</html>